parameters:
	level: 6
	phpVersion: 70400
	paths:
		- ./src/
	bootstrapFiles:
		- phpstan-bootstrap.php
		- ../../common/autoload.php
	scanDirectories:
		- ../../common
		- ../../classes
		- ../../modules

